@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Short+Stack&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

#content {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

header {
  display: flex;
  gap: 15px;
  padding: 3em 5em;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  flex-wrap: wrap;
}

.logo {
  font-family: "Short Stack", sans-serif;
  font-size: 24px;
  color: #74a257;
}

ul {
  display: flex;
  gap: 25px;
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
}

.active-page {
  color: #74a257;
}

/* home */
#content {
  display: grid;
  grid-template-rows: auto 1fr;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  background-image: url(../src/peachtable.jpg);
  background-position: center;
  padding: 7em;
}

.hero-text {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 5em;
}

.top-text {
  font-size: 34px;
  font-weight: 500;
}

.bottom-text {
  font-size: 20px;
}
