@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Short+Stack&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
}

#content {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  color: #424d3c;
}

header {
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: space-around;
  white-space: nowrap;
  flex-wrap: wrap;
  gap: 15px;
  font-weight: 500;
}

.logo {
  font-family: "Short Stack", sans-serif;
  font-size: 22px;
  color: #74a257;
}

ul {
  display: flex;
  gap: 25px;
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
}

.active-page {
  color: #74a257;
}

footer {
  font-size: 18px;
  padding: 1rem;
  text-align: center;
}

/* home */

.hero,
.menu-container,
.contact-container {
  display: grid;
  background-position: center;
  background-repeat: no-repeat;
}

.hero {
  background-image: url(../src/peachtable.jpg);
}

.hero-text {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 5rem;
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.top-text {
  font-size: 34px;
  font-weight: 500;
}

.bottom-text {
  font-size: 20px;
}

/* menu */

.menu-container {
  background-image: url(../src/veggies.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.menu-sample,
.juice-container {
  background-color: rgba(255, 255, 255, 0.75);
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem 3rem;
  border-radius: 10px;
}

.juice-container {
  gap: 5px;
}

.menu-sample {
  font-weight: 500;
  font-size: 20px;
}

.juice-title {
  color: #74a257;
  font-weight: 600;
  font-size: 20px;
}

.juice-ingredients {
  font-size: 16px;
}
.juice-description {
  font-style: italic;
  font-size: 16px;
  color: #74a257;
}

/* contact */
.contact-container {
  background-image: url(../src/shake.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: end;
  justify-content: center;
  gap: 1rem;
}

.contact-details,
.contact-info,
.opening {
  background-color: rgba(255, 255, 255, 0.75);
  width: 50%;
  padding: 2rem 3rem;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  margin: 1rem;
}

.contact-info,
.hours,
.contact-options {
  font-size: 20px;
  font-weight: 500;
  color: #74a257;
  margin-bottom: 0.5rem;
}

.contact-info {
  color: #424d3c;
}
